<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168518597922-2urr2m6d6j0n5i6ki9hk38qoc2ce8jj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168518597922-2urr2m6d6j0n5i6ki9hk38qoc2ce8jj4</string>
	<key>API_KEY</key>
	<string>AIzaSyBvu_C9HBJLTmTqM52yJJCwq5Hc4RPFWaM</string>
	<key>GCM_SENDER_ID</key>
	<string>168518597922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-40e93</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-40e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168518597922:ios:4f8aad3292ea9c8d7f797b</string>
</dict>
</plist>